/* BG color  */
.ms_bg-softblue {
    background-color: #3a546d;
}

.ms_bg-darkblue {
    background-color: #2c3e50;
}

.ms_bg-green {
    background-color: #1abc9c;
}

/* Flex basis resize */
.ms_flex-basis-30 {
    flex-basis: 30%;
}

.ms_flex-basis-100 {
    flex-basis: 100%;
}

/* Text utilities  */
.ms_font-weight-600 {
    font-weight: 600;
}

.ms_text-color-green {
    color: #1bb699;
}

.ms_text-font-size12 {
    font-size: 12px;
}

/* Linea bianca */
.ms_white-line {
    border: 2px solid white;
    border-radius: 25px;
}

.ms_black-line {
    border: 2px solid black;
    border-radius: 25px;
}

/* Rounded Border */
.ms_rounded-7 {
    border-radius: .7rem;
}

/* NAV HAMBURGER menu fix */
.navbar-light .navbar-toggler {
    border-color: white;
    color: white;
}

.fa-bars {
    color: white;
}

/* White border setup */
.ms_border-white {
    border: 1px solid white;
}

/* Btn color setup */
.btn-primary {
    border-color: white;
}

/* Form setup */
.form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
}

.ms_pb-huge {
    padding-bottom: 6rem;
}

/* icon setup */
.ms_icon-setup {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
}